# dependencies
*/node_modules
*/.pnp
*/.pnp.js

# testing
*/coverage

# next.js
*/.next/
*/out/

# production
*/build
*/dist

# misc
*/.DS_Store
*/*.pem
*/.vercel
*/.swc
*/.vscode

# debug
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/.pnpm-debug.log*

# local env files
*/.env*.local

# typescript
*/*.tsbuildinfo

# sw
**/public/workbox-*.js
**/public/sw.js
**/public/fallback-*.js

# development tsconfig
web/tsconfig.json

# development prisma
web/prisma
cronjob/prisma

# databases
/databases

# i18n conf
/web/i18n.js