# dependencies
/node_modules
/.pnp
.pnp.js

# dist
/dist
/out
/electron-src

# local files
.env*.local
docker-compose.local.yml

#android
/android

# generated recorsed
/resources/android/icon
/resources/android/splash